.backgroundImg {
    background-image: url("https://img.freepik.com/free-vector/hand-drawn-teamwork-with-puzzle-pieces_23-2149150734.jpg?w=1480&t=st=1687948596~exp=1687949196~hmac=d524d9091d69d48cff06f045b3b4e1bed23cfc8240abfd48e9b86925a80c5553");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

/* https://img.freepik.com/free-vector/hand-drawn-teamwork-with-puzzle-pieces_23-2149150734.jpg?w=1480&t=st=1687948596~exp=1687949196~hmac=d524d9091d69d48cff06f045b3b4e1bed23cfc8240abfd48e9b86925a80c5553 */


/* https://img.freepik.com/free-vector/business-team-putting-together-jigsaw-puzzle-isolated-flat-vector-illustration-cartoon-partners-working-connection-teamwork-partnership-cooperation-concept_74855-9814.jpg?w=1380&t=st=1687949060~exp=1687949660~hmac=70c2f19f1be149c12f994ed032fdb8045d4e847d4474232ace5399c1664f5342 */


/* https://img.freepik.com/free-vector/female-designer-working-late-room-flat-illustration-cartoon-student-using-laptop-computer-night-sitting-desk_74855-14019.jpg?w=1380&t=st=1687949081~exp=1687949681~hmac=dbeeb8d436500d349d2407b4fc1ed3be9da6f22302264493e9d8fecfd79d3bb2 */



/* https://img.freepik.com/free-vector/illustration-concept-with-multitasking_52683-30925.jpg?w=1480&t=st=1687949099~exp=1687949699~hmac=b99c69777c9bfd0d5c5a81035ae0f3c6370447095ca5e28aaf235626ead64a8b */


/* https://img.freepik.com/free-vector/hand-drawn-data-concept-illustrated_23-2149104874.jpg?w=1380&t=st=1687949155~exp=1687949755~hmac=a8ebdb3c2072eff19baee0267b0ae2451fb3cdbf7ca5c7f6b547b233eee29f85 */



/* https://img.freepik.com/free-vector/flat-hand-drawn-woman-team-leader_52683-55523.jpg?w=1480&t=st=1687949202~exp=1687949802~hmac=3776fd0407562fc5ef6027c6e4877160d67221c2686f2f2d580c18d78016244a */



/* https://img.freepik.com/free-vector/startup-life-concept-illustration_114360-1068.jpg?w=996&t=st=1687949247~exp=1687949847~hmac=e5f129f2ec9ac31bd025ff815651e49d52a2afd40a18a4b34ad3a3c1177782ef */



/* https://img.freepik.com/free-vector/flat-creativity-concept-illustration_52683-64279.jpg?w=996&t=st=1687949266~exp=1687949866~hmac=597217576afe91fc64aa17919a5c584bcdeb370609999b720cf9c03fbb9b7d62 */


/* https://img.freepik.com/free-vector/business-man-working-hard-stock-financial-trade-market-diagram-vector-illustration-flat-design_1150-39773.jpg?size=626&ext=jpg&ga=GA1.1.478370506.1687948451&semt=sph */

