
.calendarDate {
    position: absolute;
    top: 50%; /* 40%*/
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

test:hover {
    background-color: black;
    transform: scale(200%);
    font-size: 40px;
}