.slideContainer {
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  overflow: hidden;
  border:1px solid blck;
  transition: transform 0.5s ease-in-out;
}

.slideOut {
  transform: translateY(0%);
}

.slideIn {
  transform: translateY(100%);
}