

.hex {

    /* width: 4rem; 
    height: calc(4rem * 0.8);  */
    object-fit: cover;
    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);

}

.hexBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 4.5rem; 
    height: calc(4.5rem * 0.8);  */
    object-fit: cover;

    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
}

.hexContainer {

    display: flex;
    justify-content: center;
    align-items: center;    
    /* width: 5rem; 
    height: calc(5rem * 0.8);  */
    margin-top: -3rem;
    object-fit: cover;
    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);

}